
@model IEnumerable<MobilnyGrafik.Models.Animal>
@{
    Layout = "_Layout";
}

<h2>Our Animals</h2>

<ul>
   @foreach(var item in Model)
    {
    <li><a asp-action="Edit" asp-controller="Animal" asp-route-id="@item.Id"><span>@item.Name</span></a> <span><a asp-action="Delete" asp-controller="Animal" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a></span></li>
    } 
</ul>

<a asp-action="Add" asp-controller="Animal" class="btn btn-primary">Dodaj zwierzaka</a>
